{% extends 'app.html' %}

{% block result %}

<div>
    {{deputy_activities}}
    <h1>{{deputy_activities['nom']}}</h1>
    <h2>{{deputy_activities['groupe_sigle']}}</h2>
    <div>  
        <img src="https://www.nosdeputes.fr/depute/photo/{{deputy_activities['slug']}}/200" alt="photo" />
        <h3>{{deputy_activities['parti_ratt_financier']}}</h3>
        <p> {{deputy_activities['profession']}} ({{deputy_activities['nom_circo']}})</p>
    </div>
    <H3>Evaluation du temps de travail par semaine</H3>
    <article>
        <h4>Présence</h4>
        <ul>
            <li>
                Semaines de présence : {{deputy_activities['semaines_presence']}}
            </li>
            <li>
                Interventions : {{(deputy_activities['hemicycle_interventions'] / deputy_activities['semaines_presence'] * 100) | round}} %
            </li>
            <li>
                Questions orales : {{(deputy_activities['questions_orales'] / deputy_activities['semaines_presence'] * 100) | round}} %
            </li>
            <li>
                Questions écrites : {{(deputy_activities['questions_ecrites'] / deputy_activities['semaines_presence'] * 100) | round}} %
            </li>
        </ul>
    </article>
    <article>
        <h4>Commissions</h4>
        <ul>
            <li>
                Présences : {{deputy_activities['commission_presences']}}
            </li>
            <li>
                Interventions : {{deputy_activities['commission_interventions']}} 
            </li>
            <li>
                Rapports : {{deputy_activities['rapports']}}
            </li>
        </ul>
    </article>
    <article>
        <h4>Production et améliorations des lois</h4>
        <ul>
            <li>
                Amendements proposés : {{deputy_activities['amendements_proposes']}}
            </li>
            <li>
                Amendements signés : {{deputy_activities['amendements_signes']}} 
            </li>
            <li>
                Amendements adoptés : {{deputy_activities['amendements_adoptes']}}
            </li>
        </ul>
    </article>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}