*{
    box-sizing: border-box;
}

body {
    background-color: #d3d3d3;
}
.grid-container {
    display: grid;
    min-height: 100vh;
    grid-template-areas: "header"
    "main" 
    "footer";
    width:80%;
}

header{
    height: 7vh;
}
main{
    min-height:80vh;
}
footer{
    height:10vh;
}