*{
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    min-height: 100vh;
    grid-template-areas: "header"
    "main" 
    "footer";
    overflow: hidden;
}

header{
    height: 10vh;
}
main{
    height:80vh;
}
footer{
    height:10vh;
}