{% extends 'app.html' %}

{% block result %}
<div class="flex flex-col">

    <h1 class="flex align-center">
        <a href="/">
            <svg id='return' xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
            </svg>
        </a>
        {{deputy_activities['nom']}}
    </h1>
    <h2>{{deputy_activities['groupe_sigle']}}</h2>
    <div>  
        <img src="https://www.nosdeputes.fr/depute/photo/{{deputy_activities['slug']}}/200" alt="photo" />
        <h3>{{deputy_activities['parti_ratt_financier']}}</h3>
        <p> {{deputy_activities['profession']}} ({{deputy_activities['nom_circo']}})</p>
    </div>
    <H3>Evaluation du temps de travail moyen hebdomadaire</H3>
    <article>
        <h4>Activité générale</h4>
        <ul>
            <li>
                Interventions : {{(deputy_activities['hemicycle_interventions'] / deputy_activities['semaines_presence']) | round(2, 'floor')}}
            </li>
            <li>
                Questions orales : {{(deputy_activities['questions_orales'] / deputy_activities['semaines_presence']) | round(2, 'floor')}}
            </li>
            <li>
                Questions écrites : {{(deputy_activities['questions_ecrites'] / deputy_activities['semaines_presence']) | round(2, 'floor')}}
            </li>
        </ul>
    </article>
    <article>
        <h4>Commissions</h4>
        <ul>
            <li>
                Interventions : {{(deputy_activities['commission_interventions'] / deputy_activities['commission_presences']) | round(2, 'floor') }}
            </li>
            <li>
                Rapports : {{(deputy_activities['rapports'] / deputy_activities['commission_presences']) | round(2, 'floor')}}
            </li>
        </ul>
    </article>
    <article>
        <h4>Production et améliorations des lois</h4>
        <ul>
            <li>
                Amendements proposés : {{deputy_stats['proposes']}}
            </li>
            <li>
                Amendements signés : {{deputy_stats['signes']}}
            </li>
            <li>
                Amendements adoptés : {{deputy_stats['adoptes']}}
            </li>
        </ul>
        <img src='data:image/png;base64,{{chart}}' width="100%" id="chart"/>
    </article>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}